# Core Libraries
python-dotenv==1.1.1
requests==2.32.4
pydantic==2.11.7

# FastAPI & Web Server
fastapi==0.116.1
uvicorn==0.35.0

# Document Handling
filetype==1.2.0
pdfminer.six==20250506
docx2txt==0.9
googletrans==4.0.2

# Search Engine
algoliasearch==4.24.0

# Databases
google-cloud-storage==3.2.0
qdrant_client==1.14.3
redis==6.2.0
bcrypt==4.3.0
motor==3.7.1
email-validator==2.2.0
python-multipart==0.0.20

# LLM Ecosystem
dspy==2.6.27
litellm==1.65.0.post1
openai==1.66.1
pydub==0.25.1

# ML
sentence_transformers==5.0.0
pyannote.audio
